/*-----BODY-----*/

html,
body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
    text-transform: uppercase;
}
/*-----LINKS-----*/

a {
    text-decoration: none;
}

/*-----BUTTONS-----*/

.button {
  display: inline-block;
  vertical-align: top;
  color: #ffffff;
  background-color: blue;
  text-transform: uppercase;
  font-family: "PT Sans", Arial, sans-serif;
  cursor: pointer;
}
/*-----LIST-STYLE-----*/

.header-nav-list,
.benefits-list,
.social-list,
.range-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
/*-----VISUALLY-HIDDEN-----*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1160px;
    margin: auto;
    padding: 0 20px;
}

/*-----LOGO-----*/

.logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  z-index: 1;
}

/*-----HEADER-----*/

.header-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: -55px;
  padding-bottom: 16px;
}

.header-link {
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

/*-----INTRO-----*/

.intro {
  width: 100%;
  margin: auto;
}

.intro-text {
  margin-top: -150px;
  text-align: center;
  background-image: url("../img/intro-mask.png");
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
}

.intro-img {
  width: 100%;
}

.intro-mask-img {
  bottom: 263px;

  width: 100%;
  height: 55px;
}

.intro-text .strong {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

/*-----SEARCH-FORM-HOTELPAGE-----*/

.search-form {
  background-image: url("../img/sedona-background.jpg");
  height: 217px;
}

.hotel-range-form {
  display: flex;
  justify-content: space-between;
}

.fieldsets-wrapper {
  display: flex;
  justify-content: space-between;
  width: 533px;
}

.fieldset {
  border: 0px;
  margin-top: 30px;
}

.fieldset-price {
  width: 328px;
}

.range-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;

  margin: 0;
  padding: 0;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 32px;
  border: 2px solid #ffffff;
}

.price-min {
  width: 159px;
  display: flex;
  justify-content: space-around;
}

.price-max {
  width: 155px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-max::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;

  width: 2px;
  height: 22px;
  background-color: #ffffff;
}

/*-----SEARCH-MAINPAGE-----*/

.search {
  display: flex;
  flex-direction: column;
}

.search-wrapper {
  height: 290px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.search-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: 400;
  padding-top: 50px;
  padding-left: 75px;
  padding-right: 75px;

  width: 575px;
}

.search_text {
  margin: 0;
  padding-top: 30px;
}

.search-title {
  font-size: 30px;
  line-height: 36px;
  font-weight: bold;
}

.search-btn {
  width: 560px;
  height: 85px;
  background-color: #766357;
  font-size: 21px;
  line-height: 26px;
  border: none;
}
/*-----REASON----*/

.reason {
  display: flex;
  background-color: #eeeeee;
}

.reason-info {
  background-color: #81b3d2;
  text-align: center;
  color: #ffffff;
}

.reason-title {
  font-size: 21px;
  line-height: 21px;
}

.reason-item {
  width: 400px;
  height: 255px;
  text-align: center;
  padding-top: 50px;
}

.reason-item:first-child .reason-text,
.reason-item:last-child .reason-text  {
  padding-left: 40px;
  padding-right: 45px;
}

.reason-item:nth-child(2) .reason-text {
  padding-left: 35px;
  padding-right: 45px;
}

/*-----BENEFITS-----*/

.benefits-list {
  display: flex;
  justify-content: space-between;
  height: 330px;
  position: relative;
}

.benefit-item {
  width: 400px;
  text-align: center;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  padding-top: 165px;
}

.benefit-title {
  font-size: 21px;
  line-height: 21px;
}

.benefits-list:first-child::before {
  content: "";
  display: block;
  background-image: url("../img/icon-1.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 155px;

  width: 75px;
  height: 72px;
}

.benefit-item:nth-child(2)::before {
  content: "";
  display: block;
  background-image: url("../img/icon-3.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  left: 545px;

  width: 74px;
  height: 70px;
}

.benefit-item:last-child::before {
  content: "";
  display: block;
  background-image: url("../img/icon-2.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 60px;
  right: 163px;

  width: 64px;
  height: 76px;
}
/*-----MAPS-----*/

.map {
  width: 100%;
  height: 475px;
}

/*-----FOOTER-----*/

.main-footer {
  height: 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hashtag-sedona {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}


/*------SOCIAL------*/

.social-list {
  display: flex;
}
.social-item {
  margin-left: 6px;
  position: relative;
}

.social {
  display: block;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.social-tw::before {
  content: "";
  display: block;
  background-image: url("../img/twitter.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  left: 15px;

  width: 17px;
  height: 15px;
}

.social-fb::before {
  content: "";
  display: block;
  background-image: url("../img/fb-icon.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 13px;
  left: 17px;

  width: 12px;
  height: 22px;
}

.social-yt::before {
  content: "";
  display: block;
  background-image: url("../img/youtube.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 16px;
  left: 13px;

  width: 20px;
  height: 16px;
}

.copyright {
  position: relative;
  width: 240px;
  height: 44px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.html-academy {
  display: block;
  width: 117px;
  height: 45px;
}

.html-academy::before {
  content: "";
  display: block;
  background-image: url("../img/logo-htmlacademy.svg");
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  left: 110px;

  width: 117px;
  height: 44px;
}
/*-----POPUP-----*/

.popup {
  width: 570px;
  background-color: #eeeeee;
}

.modal-form {
  width: 458px;
  height: 395px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 55px;
}

.search-people {
  display: flex;
}

.search-adults {
  display: flex;
}

.search-kids {
  display: flex;
}

.search-hotel-btn {
  width: 458px;
  height: 55px;
  background-color: #81b3d2;
  border: none;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
}

.calendar-btn {
  background-image: url("../img/calendar.svg");
  background-repeat: no-repeat;
  background-position: center;
  width: 25px;
  height: 26px;
}
