/*-----BODY-----*/

html,
body {
    margin: 0;
    padding: 0;
    min-width: 1200px;
    font-family: "PT Sans", Arial, sans-serif;
}
/*-----LINKS-----*/

a {
    text-decoration: none;
}
/*-----LIST-STYLE-----*/

.header-nav-list,
.benefits-list,
.social-list,
.range-list {
  list-style: none;
}
/*-----VISUALLY-HIDDEN-----*/

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.container {
    width: 1160px;
    margin: auto;
    padding: 0 20px;
}

/*-----LOGO-----*/

.logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  z-index: 1;
}

/*-----HEADER-----*/

.header-nav-list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  margin-top: -55px;
  padding-bottom: 16px;
}

.header-link {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 26px;
  color: #000000;
  font-weight: bold;
}

/*-----INTRO-----*/

.intro {
  width: 100%;
  margin: auto;
}

.intro-text {
  margin-top: -50px;
  text-align: center;
}

.intro-img {
  width: 100%;
}

.intro-mask-img {
  bottom: 263px;

  width: 100%;
  height: 55px;
}

/*-----SEARCH-FORM-----*/

.search-form {
  background-image: url("../img/sedona-background.jpg");
  height: 217px;
}

.hotel-range-form {
  display: flex;
  justify-content: space-between;
}

.fieldsets-wrapper {
  display: flex;
  justify-content: space-between;
  width: 533px;
}

.fieldset {
  border: 0px;
  margin-top: 30px;
}

.fieldset-price {
  width: 328px;
}

.range-list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 150px;

  margin: 0;
  padding: 0;
}

.price-controls {
  display: flex;
  justify-content: space-around;
  align-items: center;

  height: 32px;
  border: 2px solid #ffffff;
}

.price-min {
  width: 159px;
  display: flex;
  justify-content: space-around;
}

.price-max {
  width: 155px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.price-max::before {
  content: "";
  display: block;
  position: absolute;
  left: 0;

  width: 2px;
  height: 22px;
  background-color: #ffffff;
}
/*-----MAPS-----*/

.map {
  width: 100%;
  height: 475px;
}
